@model Pingvalue.Models.DeviceGroupViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("群組管理", "Index")
        </li>
        <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"]</li>
    </ol>

    <div>
        <h4>群組</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GroupName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupName)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateTime)
            </dd>
        </dl>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>